html,
body {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  background-color: #f5f7fa;
  /*background: radial-gradient(circle at 0% 100%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 50% 0%, rgba(33, 147, 181, 0.55) 0%, rgba(113, 135, 153, 0.043) 70%, rgba(113, 135, 153, 0) 80%), radial-gradient(circle at 100% 0%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 0% 0%, rgba(33, 147, 181, 0.55) 0%, rgba(33, 147, 181, 0.043) 70%, rgba(33, 147, 181, 0) 80%), rgb(0, 0, 0);*/
}

@media only screen and (max-width: $breakpointSmall) {
  body {
    overflow-y: auto;
  }
}
